<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div class="meta">
    {{post.vote_count}}
    point(s) by
    {{post.user.username}}
    on
    {{format_date post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>

  {{!-- loggedIn is getting passed from home-routes.js --}}
  {{!-- variables that are passed to view templates are automatically passed to the main layout --}}
  {{#if loggedIn}}
    <form class="comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>

      <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
      </div>
    </form>
  {{/if}}

{{!-- That's right—to use a partial, all we need is the > character, followed by 
      the name of the partial file and the object we'll pass to the partial. --}}
{{> comments post.comments }}
</article>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}